name: Service B CI/CD

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build Service B
        run: docker build -t service-b ./microservices/service-b
